<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userRealm" class="com.mlwc.upms.getway.auth.UserRealm"/>
    <bean id="sysCache" class="com.mlwc.upms.getway.auth.SysCache"/>

     <!--拦截器-->
    <mvc:interceptors>
        <!-- 获取登录信息 -->
        <mvc:interceptor>
            <mvc:mapping path="/api/**"/>
            <mvc:exclude-mapping path="/api/login"/>
            <bean class="com.mlwc.upms.getway.interceptor.ApiInterceptor">
                <property name="userRealm" ref="userRealm" />
                <property name="cache" ref="sysCache" />
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>