<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlwc.upms.dao.mapper.MlwcUserPersissionMapper">
  <resultMap id="BaseResultMap" type="com.mlwc.upms.dao.model.MlwcUserPersission">
    <id column="user_persission_id" jdbcType="INTEGER" property="userPersissionId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="permisision_id" jdbcType="INTEGER" property="permisisionId" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_persission_id, user_id, permisision_id, type
  </sql>
  <select id="selectByExample" parameterType="com.mlwc.upms.dao.model.MlwcUserPersissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mlwc_user_persission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mlwc_user_persission
    where user_persission_id = #{userPersissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mlwc_user_persission
    where user_persission_id = #{userPersissionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mlwc.upms.dao.model.MlwcUserPersissionExample">
    delete from mlwc_user_persission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mlwc.upms.dao.model.MlwcUserPersission">
    insert into mlwc_user_persission (user_persission_id, user_id, permisision_id, 
      type)
    values (#{userPersissionId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{permisisionId,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mlwc.upms.dao.model.MlwcUserPersission">
    insert into mlwc_user_persission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userPersissionId != null">
        user_persission_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="permisisionId != null">
        permisision_id,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userPersissionId != null">
        #{userPersissionId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="permisisionId != null">
        #{permisisionId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mlwc.upms.dao.model.MlwcUserPersissionExample" resultType="java.lang.Long">
    select count(*) from mlwc_user_persission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mlwc_user_persission
    <set>
      <if test="record.userPersissionId != null">
        user_persission_id = #{record.userPersissionId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.permisisionId != null">
        permisision_id = #{record.permisisionId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mlwc_user_persission
    set user_persission_id = #{record.userPersissionId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      permisision_id = #{record.permisisionId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlwc.upms.dao.model.MlwcUserPersission">
    update mlwc_user_persission
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="permisisionId != null">
        permisision_id = #{permisisionId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where user_persission_id = #{userPersissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlwc.upms.dao.model.MlwcUserPersission">
    update mlwc_user_persission
    set user_id = #{userId,jdbcType=INTEGER},
      permisision_id = #{permisisionId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT}
    where user_persission_id = #{userPersissionId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>